{% extends 'base.html.twig' %}

{% block title %}All Ticket{% endblock %}

{% block body %}
    <h1>View all Ticket</h1>

    <a href="{{ path('new_ticketing') }}">Create new ticket</a>
{% endblock %}