{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}
{% block header %}<h1>Tickets</h1>{% endblock %}

{% block body %}
    <h1>Create new Ticket</h1>

    {{ include('@Ticketing/ticketing/_form.html.twig') }}

{% endblock %}