{% extends getTicketingLayoutTemplate() %}

{% block title %}{{ 'New Ticket'|trans({}, 'TicketingBundle') }}{% endblock %}
{% block header %}<h1>{{ 'New Ticket'|trans({}, 'TicketingBundle') }}</h1>{% endblock %}

{% block body %}
    <h1>{{ 'Create a new ticket'|trans({}, 'TicketingBundle') }}</h1>

    {{ include('@Ticketing/ticketing/_form.html.twig') }}

{% endblock %}