<div class="modal fade" tabindex="-1" role="dialog" id="change_category">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'change ticket category'|trans({}, 'TicketingBundle') }}</h4>
            </div>
            <div class="modal-body" id="cat_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans({}, 'TicketingBundle') }}</button>
                <button type="button" class="btn btn-primary" id="cat_validate">{{ 'submit'|trans({}, 'TicketingBundle') }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->